<md-sidenav-container fullscreen>
  <md-sidenav #menu mode="over">
    <md-nav-list>
      <a md-list-item (click)="menu.close()" [routerLink]="['/service']">Service</a>
      <a md-list-item (click)="menu.close()" [routerLink]="['/slides']">Slides</a>
      <a md-list-item (click)="menu.close()" [routerLink]="['/alerts']">Alerts</a>
      <a md-list-item (click)="menu.close()" [routerLink]="['/search']">Search</a>
    </md-nav-list>
  </md-sidenav>
<header>
  <md-toolbar style="background-color: #64aef3;">
    <button md-icon-button (click)="menu.toggle()"><md-icon>menu</md-icon></button>
    <span>OpenLP Remote</span>
  </md-toolbar>
</header>
<div class="content">
  <router-outlet></router-outlet>
</div>
</md-sidenav-container>
<footer>
  <md-grid-list cols="8" rowHeight="60px">
    <md-grid-tile>
      <button md-icon-button (click)="previousItem()">
        <md-icon>first_page</md-icon>
      </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-icon-button (click)="nextItem()">
        <md-icon>last_page</md-icon>
      </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-icon-button (click)="previousSlide()">
        <md-icon>navigate_before</md-icon>
      </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-icon-button (click)="nextSlide()">
        <md-icon>navigate_next</md-icon>
      </button>
    </md-grid-tile>


    <md-grid-tile>
      <button md-icon-button (click)="blankDisplay()" class="displayButton"
              [class.active]="state.blank" [disabled]="state.blank">
        <md-icon>videocam_off</md-icon>
      </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-icon-button (click)="themeDisplay()" class="displayButton"
              [class.active]="state.theme" [disabled]="state.theme">
        <md-icon>wallpaper</md-icon>
      </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-icon-button (click)="desktopDisplay()" class="displayButton"
              [class.active]="state.display" [disabled]="state.display">
        <md-icon>desktop_windows</md-icon>
      </button>
    </md-grid-tile>
    <md-grid-tile>
      <button md-icon-button (click)="showDisplay()" class="displayButton"
              [class.active]="state.display" [disabled]="state.live()">
        <md-icon>videocam</md-icon>
      </button>
    </md-grid-tile>
  </md-grid-list>
</footer>
