/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background: #999;
}

header {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 60px;
	width: 100%;
	z-index: 1;
}

md-sidenav-layout {
	background: rgba(0,0,0,0.03);
}
md-sidenav {
	width: 200px;
}

.displayButton .active {
	background: 'teal';
}

.content {
	padding-top: 60px;
	padding-bottom: 60px;
	margin: 20px;
}

.md-list-item {
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 10px;
}

md-nav-list .selected .md-list-item {
	background-color: #64aef3;
}

md-nav-list .selected:hover .md-list-item{
	background-color: #64aef3;
}

md-list .selected .md-list-text p {
	font-weight: bold;
}
md-list .selected span {
	font-weight: bold;
}
